<html>
  <head>
    <title>WSD Auth</title>
  </head>
  <body>
    <div id="app">
      {{#if loggedin}}
        <h1>You are now logged in</h1>
        {{user}}
      {{else}}
        <h1>Welcome! Please sign in!</h1>
        <form action="/" method="post">
          <button type="submit">post</button>
        </form>
        <button onclick="window.location.href='/?code=login'">Authenticate</button>
      {{/if}}
    </div>
  </body>
</html>
